@media screen {
  /* Framework */
  html {
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;

    display: block !important;

    height: 100%;
    min-height: 740px;

    overflow-x: hidden;
    overflow-y: auto;

    -webkit-font-smoothing: antialiased;
  }

  body > div.section {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    position: absolute;

    -webkit-transform: translate3d(0, 0, 0);
  }

  body > div.section > div.section {
    display: block;

    position: absolute;
    overflow: hidden;

    width: 900px;
    height: 700px;

    left: 50%;
    top: 50%;

    margin-left: -450px;
    margin-top: -350px;

    padding: 40px 60px;

    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3x;
    -webkit-border-radius: 3px;


    border: 1px solid rgba(0, 0, 0, .05);

    transition: transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -webkit-transition: -webkit-transform .3s ease-out;
  }

  body > div.section > div.section,
  body > div.section.layout-widescreen > div.section {
    margin-left: -550px;
    width: 1100px;
  }
  body > div.section.layout-faux-widescreen > div.section {
    margin-left: -550px;
    width: 1100px;

    padding: 40px 160px;
  }

  body > div.section > div.section:not(.nobackground):not(.biglogo),
  body > div.section.layout-widescreen > div.section:not(.nobackground):not(.biglogo),
  body > div.section.layout-faux-widescreen > div.section:not(.nobackground):not(.biglogo) {
    background-position-x: 0, 840px;
  }

  /* Clickable/tappable areas */

  .slide-area {
    z-index: 1000;

    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 700px;

    left: 50%;
    top: 50%;

    cursor: pointer;
    margin-top: -350px;

    tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
  }
  #prev-slide-area {
    margin-left: -550px;
  }
  #next-slide-area {
    margin-left: 400px;
  }
  body > div.section #prev-slide-area,
  body > div.section.layout-widescreen #prev-slide-area,
  body > div.section.layout-faux-widescreen #prev-slide-area {
    margin-left: -650px;
  }
  body > div.section #next-slide-area,
  body > div.section.layout-widescreen #next-slide-area,
  body > div.section.layout-faux-widescreen #next-slide-area {
    margin-left: 500px;
  }

  /* Slides */

  body > div.section > div.section {
    display: none;
  }
  body > div.section > div.section.far-past {
    display: block;
    transform: translate(-2040px);
    -o-transform: translate(-2040px);
    -moz-transform: translate(-2040px);
    -webkit-transform: translate3d(-2040px, 0, 0);
  }
  body > div.section > div.section.past {
    display: block;
    transform: translate(-1020px);
    -o-transform: translate(-1020px);
    -moz-transform: translate(-1020px);
    -webkit-transform: translate3d(-1020px, 0, 0);
  }
  body > div.section > div.section.current {
    display: block;
    transform: translate(0);
    -o-transform: translate(0);
    -moz-transform: translate(0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  body > div.section > div.section.next {
    display: block;
    transform: translate(1020px);
    -o-transform: translate(1020px);
    -moz-transform: translate(1020px);
    -webkit-transform: translate3d(1020px, 0, 0);
  }
  body > div.section > div.section.far-next {
    display: block;
    transform: translate(2040px);
    -o-transform: translate(2040px);
    -moz-transform: translate(2040px);
    -webkit-transform: translate3d(2040px, 0, 0);
  }

  body > div.section > div.section.far-past,
  body > div.section.layout-widescreen > div.section.far-past,
  body > div.section.layout-faux-widescreen > div.section.far-past {
    display: block;
    transform: translate(-2260px);
    -o-transform: translate(-2260px);
    -moz-transform: translate(-2260px);
    -webkit-transform: translate3d(-2260px, 0, 0);
  }
  body > div.section > div.section.past,
  body > div.section.layout-widescreen > div.section.past,
  body > div.section.layout-faux-widescreen > div.section.past {
    display: block;
    transform: translate(-1130px);
    -o-transform: translate(-1130px);
    -moz-transform: translate(-1130px);
    -webkit-transform: translate3d(-1130px, 0, 0);
  }
  body > div.section > div.section.current,
  body > div.section.layout-widescreen > div.section.current,
  body > div.section.layout-faux-widescreen > div.section.current {
    display: block;
    transform: translate(0);
    -o-transform: translate(0);
    -moz-transform: translate(0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  body > div.section > div.section.next,
  body > div.section.layout-widescreen > div.section.next,
  body > div.section.layout-faux-widescreen > div.section.next {
    display: block;
    transform: translate(1130px);
    -o-transform: translate(1130px);
    -moz-transform: translate(1130px);
    -webkit-transform: translate3d(1130px, 0, 0);
  }
  body > div.section > div.section.far-next,
  body > div.section.layout-widescreen > div.section.far-next,
  body > div.section.layout-faux-widescreen > div.section.far-next {
    display: block;
    transform: translate(2260px);
    -o-transform: translate(2260px);
    -moz-transform: translate(2260px);
    -webkit-transform: translate3d(2260px, 0, 0);
  }
}

@media print {
  /* Set page layout */


  @page {
    size: A4 landscape;
    margin: 0 -5mm;  
    background-color: rgb(255, 243, 220) !important;
  }

  * {
    -webkit-print-color-adjust: exact;
    background-color: rgb(255, 243, 220) !important;
  }

  body {
    display: block !important;
    background-color: rgb(255, 243, 220) !important;
  }

  body > div.section > div.section {
    padding: 20px;
    background-color: rgb(255, 243, 220) !important;
    display: block;

    position: relative;

    page-break-inside: never;
    page-break-after: always;

    overflow: hidden;
  }

  h1 {
    position: static !important;
    margin-top: 250px !important;
  }

  h2.special {
    position: static !important;
    margin-top: 550px !important;
  }

  h2 {
    position: static !important;
    margin-top: 25px !important;
  }

  div.code {
    background: rgb(240, 240, 240);
  }


  /* Add explicit links */
  a:link:after, a:visited:after {
   content: " (" attr(href) ") ";
   font-size: 50%;
  }

  a.fn-backref:link:after, a.fn-backref:visited:after,
  a.reference.internal:link:after, a.reference.internal:visited:after,
  a.footnote-reference:link:after, a.footnote-reference:visited:after {
    content: "" !important;
  }

  #help {
    display: none;
    visibility: hidden;
  }
}

/* Styles for slides */

body > div.section > div.section {
  font-family: "Avenir Next", "Mplus 1p", "メイリオ";

  text-shadow: 0 1px 1px rgba(0, 0, 0, .1);

  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0px;
}

b {
  font-weight: 600;
}
a {
  text-decoration: none;
}
a:visited { }
a:hover { }

p {
  margin: 0;
  padding: 0;

  margin-top: 20px;
}
p:first-child {
  margin-top: 0;
}

h1 {
  font-size: 60px;
  line-height: 55px;

  padding: 0;
  margin: 0;
  margin-top: 200px;
  margin-bottom: 5px;
  padding-right: 40px;

  font-weight: 700;
  letter-spacing: 0px;
}

h2.special {
  font-size: 65px;
  line-height: 65px;

  padding: 0;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  margin-bottom: 5px;

  font-weight: 700;
  letter-spacing: 0px;
}

h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  padding-right: 40px;
  font-weight: 600;
  letter-spacing: -1px;
}

h2 {
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-size: 29px;
  line-height: 35px;
}

h4 {
  font-size: 28px;
  line-height: 33px;
}

h5 {
  font-size: 27px;
  line-height: 32px;
}

h6 {
  font-size: 26px;
  line-height: 31px;
}


ul {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-left: 1.5em;
}
li {
  padding: 0;
  margin: 0 0 .5em 0;
}

div.code {
  padding: 5px 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;

  background: rgb(240, 240, 240);
  border: 1px solid rgb(224, 224, 224);
}

div blockquote {
  font-style: italic !important;
}

pre {
  margin: 0;
  padding: 0;

  font-family: 'Droid Sans Mono', 'Courier New', monospace;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -1px;

  color: black;
}

code {
  font-size: 95%;
  font-family: 'Droid Sans Mono', 'Courier New', monospace;

  color: black;
}

body > div.section > div.section > .image {
  text-align: center;
  margin-top: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
}
th {
  font-weight: 600;
  text-align: left;
}
td,
th {
  border: 1px solid rgba(54, 59, 91, 0.3);
  padding: 5px 10px;
  vertical-align: top;
}

p.link {
  margin-left: 20px;
}

/* Code */
div.code {
  outline: 0px solid transparent;
}
div.playground {
  position: relative;
}
div.output {
  position: absolute;
  left: 50%;
  top: 50%;
  right: 40px;
  bottom: 40px;
  background: #202020;
  padding: 5px 10px;
  z-index: 2;

  border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

}
div.output pre {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  overflow: auto;
}
div.output .stdout, div.outp777pre {
  color: #e6e6e6;
}
div.output .stderr, div.output .error {
  color: rgb(255, 200, 200);
}
div.output .system, div.output .exit {
  color: rgb(255, 230, 120)
}
.buttons {
  position: relative;
  float: right;
  top: -60px;
  right: 10px;
}
div.output .buttons {
  position: absolute;
  float: none;
  top: auto;
  right: 5px;
  bottom: 5px;
}

/* Presenter details */
.presenter {
  margin-top: 20px;
}
.presenter p,
.presenter .link {
  margin: 0;
  font-size: 28px;
  line-height: 1.2em;
}

/* Output resize details */
.ui-resizable-handle {
  position: absolute;
}
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}
iframe {
  border: none;
}
figcaption {
  color: #666;
  text-align: center;
  font-size: 0.75em;
}

#help {
  font-family: 'Open Sans', Arial, sans-serif;
  text-align: center;
  color: white;
  background: #000;
  opacity: 0.5;
  position: fixed;
  bottom: 25px;
  left: 50px;
  right: 50px;
  padding: 20px;

  border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

/* adding style for azusa theme */

p {
  margin: 0;
  padding: 0;
  margin: 20px 0px;
}

img {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin-bottom:20px;
}

ul.simple {
  margin-top: 0px;
  padding-top: 0px;
}

div.line-block div.line{
  margin-top:0px;
  padding:0px;
}

div.line-block div.line:first-child{
  margin-top:20px;
}

code.docutils.literal{
  padding: 2px 4px;

  font-family: 'Droid Sans Mono', 'Courier New', monospace;
  font-size: 90%;
  letter-spacing: -1px;
  border-radius: 4px;
  font-weight: 600;

  background-color: #f4edee;
}

div.highlight {
  padding: 5px 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  overflow: hidden;

  background: rgb(240, 240, 240);
  border: 1px solid rgb(224, 224, 224);
}
div.highlight pre {
  color: #777;
}

td.linenos {
  padding: 0;
  width: 10px;
}

div.linenodiv {
  padding: 5px 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  overflow: hidden;

  background: 0;
  border-top: 1px solid rgb(224, 224, 224);
  border-left: 1px solid rgb(224, 224, 224);
  border-bottom: 1px solid rgb(224, 224, 224);
}

table.highlighttable {
  border: none;
  margin: 0;
  padding: 0;
}
table.highlighttable tr{
  border: none;
  margin: 0;
  padding: 0;
}
td.code {
  padding: 0;
  margin: 0;
  border: none;
}
td.linenos {
  padding: 0;
  margin: 0;
  border: none;
}

div.admonition {
  padding: 5px 5px;
  margin-top: 0px;
  margin-bottom: 10px;
  overflow: hidden;

  font-size: 18px;
  line-height: 28px;

  background: rgb(240, 240, 240);
  border: 1px solid rgb(224, 224, 224);
}

div.admonition p {
  margin: 5px;
}

div.admonition p.admonition-title {
  font-weight: 600;
}

div.admonition.danger,
div.admonition.error {
  background-color: #f2dede;
  color: #b94a4b;
  border-color: #eed3d7;
}

div.admonition.warning,
div.admonition.attention,
div.admonition.caution,
div.admonition.seealso {
  background-color: #fcf8e3;
  color: #c09853;
  border-color: #fbeed5;
}

div.admonition.important,
div.admonition.note {
  background-color: #dff0d8;
  color: #468847;
  border-color: #d6e9c6;
}

div.admonition.hint,
div.admonition.tip {
  background-color: #d9edf7;
  color: #3f8aaf;
  border-color: #bce8f1;
}

a.footnote-reference {
  font-size: 65%;
  vertical-align: super;
}
a.reference {
  font-size: 99%;
  font-weight: 600;
}

table.docutils.citation,
table.docutils.footnote {
  font-size: 18px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 2px;
}
table.docutils tbody tr td.label {
  width: 10px;
}

hr.docutils {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(54, 59, 91, 0.3);
  border: 0;
}

table.field-list th.field-name {
  width: 20%;
}

table.option-list td.option-group {
  width: 20%;
  font-weight: 600;
}

.line-block .line-block {
  padding:0;
  margin-left: 1.5em;
}
.line-block .line-block .line:first-child {
  margin-top: 0;
}
.line-block .line-block .line {
  margin: 0;
}

div.topic {
  padding: 5px 5px;
  margin: 0;
  overflow: hidden;

  font-size: 18px;
  line-height: 28px;

  background: rgb(240, 240, 240);
  border: 1px solid rgb(224, 224, 224);
}

div.topic p {
  margin: 0 0 5px 0;
}
div.topic p.topic-title {
  font-weight: 600;
}

span.versionmodified {
  font-style: italic;
}

p.rubric {
  font-weight: 600;
}
p.centered {
  text-align: center;
  margin-top: 25px;
}

table.hlist,
table.hlist tbody,
table.hlist tbody tr,
table.hlist tbody td {
  border-style: none !important;
  border-collapse: collapse !important;
  border-spacing: 0 !important;
  border-color: white !important;

}

dl.glossary dt {
  font-weight: 600;
}

img.fit-background {
    min-height: 100%; 
    width: auto;
}

/* body-background */

body {
  background: rgb(53, 60, 92);
}

.hide-title h2:first-child {
  visibility: hidden;
}

.slide-fit-img {
  display: none;
}





/* base */


body > div.section > div.section {
  background-color: rgb(255, 243, 220);
}
body > div.section > div.section {
  color: rgb(54, 59, 91);
}
body > div.section > div.section a {
  color: rgb(42, 167, 124);
}
body > div.section > div.section a:visited {
  color: rgba(42, 167, 124, .75);
}
body > div.section > div.section a:hover {
  color: black;
}
body > div.section > div.section h1,
body > div.section > div.section h2,
body > div.section > div.section h2.special,
body > div.section > div.section em,
body > div.section > div.section strong,
body > div.section > div.section code.docutils.literal {
  color: rgb(42, 167, 124);
}
body > div.section > div.section hr.docutils {
  background-color: rgba(54, 59, 91, 0.3);
}
  


/* green-white */


body > div.section > div.slide-green-white {
  background-color: rgb(255, 243, 220);
}
body > div.section > div.slide-green-white {
  color: rgb(54, 59, 91);
}
body > div.section > div.slide-green-white a {
  color: rgb(42, 167, 124);
}
body > div.section > div.slide-green-white a:visited {
  color: rgba(42, 167, 124, .75);
}
body > div.section > div.slide-green-white a:hover {
  color: black;
}
body > div.section > div.slide-green-white h1,
body > div.section > div.slide-green-white h2,
body > div.section > div.slide-green-white h2.special,
body > div.section > div.slide-green-white em,
body > div.section > div.slide-green-white strong,
body > div.section > div.slide-green-white code.docutils.literal {
  color: rgb(42, 167, 124);
}
body > div.section > div.slide-green-white hr.docutils {
  background-color: rgba(54, 59, 91, 0.3);
}
  

/* green */


body > div.section > div.slide-green {
  background-color: rgb(42, 167, 124);
}
body > div.section > div.slide-green {
  color: rgb(230, 243, 220);
}
body > div.section > div.slide-green a {
  color: rgb(53, 60, 92);
}
body > div.section > div.slide-green a:visited {
  color: rgba(53, 60, 92, .75);
}
body > div.section > div.slide-green a:hover {
  color: white;
}
body > div.section > div.slide-green h1,
body > div.section > div.slide-green h2,
body > div.section > div.slide-green h2.special,
body > div.section > div.slide-green em,
body > div.section > div.slide-green strong,
body > div.section > div.slide-green code.docutils.literal {
  color: rgb(255, 243, 220);
}
body > div.section > div.slide-green hr.docutils {
  background-color: rgba(255, 243, 220, .75);
}
  

/* black-white */


body > div.section > div.slide-black-white {
  background-color: rgb(255, 243, 220);
}
body > div.section > div.slide-black-white {
  color: rgb(53, 60, 92);
}
body > div.section > div.slide-black-white a {
  color: rgb(133, 140, 172);
}
body > div.section > div.slide-black-white a:visited {
  color: rgba(133, 140, 177, .75);
}
body > div.section > div.slide-black-white a:hover {
  color: black;
}
body > div.section > div.slide-black-white h1,
body > div.section > div.slide-black-white h2,
body > div.section > div.slide-black-white h2.special,
body > div.section > div.slide-black-white em,
body > div.section > div.slide-black-white strong,
body > div.section > div.slide-black-white code.docutils.literal {
  color: rgb(53, 60, 92);
}
body > div.section > div.slide-black-white hr.docutils {
background-color: rgba(54, 59, 91, 0.3);
}
  

/* black */


body > div.section > div.slide-black {
  background-color: rgb(53, 60, 92);
}
body > div.section > div.slide-black {
  color: rgb(255, 243, 220);
}
body > div.section > div.slide-black a {
  color: rgb(210, 203, 180);
}
body > div.section > div.slide-black a:visited {
  color: rgba(210, 203, 180, .75);
}
body > div.section > div.slide-black a:hover {
  color: white;
}
body > div.section > div.slide-black h1,
body > div.section > div.slide-black h2,
body > div.section > div.slide-black h2.special,
body > div.section > div.slide-black em,
body > div.section > div.slide-black strong,
body > div.section > div.slide-black code.docutils.literal {
  color: rgb(255, 243, 220);
}
body > div.section > div.slide-black hr.docutils {
  background-color: rgba(255, 243, 220, .75);
}
  

/* purple-white */


body > div.section > div.slide-purple-white {
  background-color: rgb(255, 243, 220);
}
body > div.section > div.slide-purple-white {
  color: rgb(53, 60, 92);
}
body > div.section > div.slide-purple-white a {
  color: rgb(169, 77, 187);
}
body > div.section > div.slide-purple-white a:visited {
  color: rgba(169, 77, 187, .75);
}
body > div.section > div.slide-purple-white a:hover {
  color: black;
}
body > div.section > div.slide-purple-white h1,
body > div.section > div.slide-purple-white h2,
body > div.section > div.slide-purple-white h2.special,
body > div.section > div.slide-purple-white em,
body > div.section > div.slide-purple-white strong,
body > div.section > div.slide-purple-white code.docutils.literal {
  color: rgb(169, 77, 187);
}
body > div.section > div.slide-purple-white hr.docutils {
  background-color: rgba(169, 77, 187, 0.3);
}
  

/* purple */


body > div.section > div.slide-purple {
  background-color: rgb(169, 77, 187);
}
body > div.section > div.slide-purple {
  color: rgb(255, 243, 220);
}
body > div.section > div.slide-purple a {
  color: rgb(210, 203, 180);
}
body > div.section > div.slide-purple a:visited {
  color: rgba(210, 203, 180, .75);
}
body > div.section > div.slide-purple a:hover {
  color: white;
}
body > div.section > div.slide-purple h1,
body > div.section > div.slide-purple h2,
body > div.section > div.slide-purple h2.special,
body > div.section > div.slide-purple em,
body > div.section > div.slide-purple strong {
  color: rgb(255, 243, 220);
}
body > div.section > div.slide-purple code.docutils.literal {
  color: rgb(169, 77, 187);
}
body > div.section > div.slide-purple hr.docutils {
  background-color: rgba(255, 243, 220, .75);
}
  

/* blue-white */


body > div.section > div.slide-blue-white {
  background-color: rgb(255, 243, 220);
}
body > div.section > div.slide-blue-white {
  color: rgb(53, 60, 92);
}
body > div.section > div.slide-blue-white a {
  color: rgb(20, 149, 240);
}
body > div.section > div.slide-blue-white a:visited {
  color: rgba(20, 149, 240, .75);
}
body > div.section > div.slide-blue-white a:hover {
  color: black;
}
body > div.section > div.slide-blue-white h1,
body > div.section > div.slide-blue-white h2,
body > div.section > div.slide-blue-white h2.special,
body > div.section > div.slide-blue-white em,
body > div.section > div.slide-blue-white strong,
body > div.section > div.slide-blue-white code.docutils.literal {
  color: rgb(20, 149, 240);
}
body > div.section > div.slide-blue-white hr.docutils {
  background-color: rgba(20, 149, 240, 0.3);
}
  

/* blue */


body > div.section > div.slide-blue {
  background-color: rgb(20, 149, 240);
}
body > div.section > div.slide-blue {
  color: rgb(255, 243, 220);
}
body > div.section > div.slide-blue a {
  color: rgb(210, 203, 180);
}
body > div.section > div.slide-blue a:visited {
  color: rgba(210, 203, 180, .75);
}
body > div.section > div.slide-blue a:hover {
  color: white;
}
body > div.section > div.slide-blue h1,
body > div.section > div.slide-blue h2,
body > div.section > div.slide-blue em,
body > div.section > div.slide-blue strong,
body > div.section > div.slide-blue h2.special {
  color: rgb(255, 243, 220);
}
body > div.section > div.slide-blue code.docutils.literal {
  color: rgb(20, 149, 240);
}
body > div.section > div.slide-blue hr.docutils {
  background-color: rgba(255, 243, 220, .75);
}
  

/* cyan-white */


body > div.section > div.slide-cyan-white {
  background-color: rgb(255, 243, 220);
}
body > div.section > div.slide-cyan-white {
  color: rgb(53, 60, 92);
}
body > div.section > div.slide-cyan-white a {
  color: rgb(21, 174, 201);
}
body > div.section > div.slide-cyan-white a:visited {
  color: rgba(21, 174, 201, .75);
}
body > div.section > div.slide-cyan-white a:hover {
  color: black;
}
body > div.section > div.slide-cyan-white h1,
body > div.section > div.slide-cyan-white h2,
body > div.section > div.slide-cyan-white h2.special,
body > div.section > div.slide-cyan-white em,
body > div.section > div.slide-cyan-white strong,
body > div.section > div.slide-cyan-white code.docutils.literal {
  color: rgb(21, 174, 201);
}
body > div.section > div.slide-cyan-white hr.docutils {
  background-color: rgba(21, 174, 201), 0.3);
}
  

/* cyan */


body > div.section > div.slide-cyan {
  background-color: rgb(21, 174, 201);
}
body > div.section > div.slide-cyan {
  color: rgb(255, 243, 220);
}
body > div.section > div.slide-cyan a {
  color: rgb(210, 203, 180);
}
body > div.section > div.slide-cyan a:visited {
  color: rgba(210, 203, 180, .75);
}
body > div.section > div.slide-cyan a:hover {
  color: white;
}
body > div.section > div.slide-cyan h1,
body > div.section > div.slide-cyan h2,
body > div.section > div.slide-cyan em,
body > div.section > div.slide-cyan strong,
body > div.section > div.slide-cyan h2.special {
  color: rgb(255, 243, 220);
}
body > div.section > div.slide-cyan code.docutils.literal {
  color: rgb(21, 174, 201);
}
body > div.section > div.slide-cyan hr.docutils {
  background-color: rgba(255, 243, 220, .75);
}
  

/* yellow-white */


body > div.section > div.slide-yellow-white {
  background-color: rgb(255, 243, 220);
}
body > div.section > div.slide-yellow-white {
  color: rgb(53, 60, 92);
}
body > div.section > div.slide-yellow-white a {
  color: rgb(253, 124, 7);
}
body > div.section > div.slide-yellow-white a:visited {
  color: rgba(253, 124, 7, .75);
}
body > div.section > div.slide-yellow-white a:hover {
  color: black;
}
body > div.section > div.slide-yellow-white h1,
body > div.section > div.slide-yellow-white h2,
body > div.section > div.slide-yellow-white h2.special,
body > div.section > div.slide-yellow-white em,
body > div.section > div.slide-yellow-white strong,
body > div.section > div.slide-yellow-white code.docutils.literal {
  color: rgb(253, 124, 7);
}
body > div.section > div.slide-yellow-white hr.docutils {
  background-color: rgba(253, 124, 7), 0.3);
}
  

/* yellow */


body > div.section > div.slide-yellow {
  background-color: rgb(253, 124, 7);
}
body > div.section > div.slide-yellow {
  color: rgb(255, 243, 220);
}
body > div.section > div.slide-yellow a {
  color: rgb(210, 203, 180);
}
body > div.section > div.slide-yellow a:visited {
  color: rgba(210, 203, 180, .75);
}
body > div.section > div.slide-yellow a:hover {
  color: white;
}
body > div.section > div.slide-yellow h1,
body > div.section > div.slide-yellow h2,
body > div.section > div.slide-yellow em,
body > div.section > div.slide-yellow strong,
body > div.section > div.slide-yellow h2.special {
  color: rgb(255, 243, 220);
}
body > div.section > div.slide-yellow code.docutils.literal {
  color: rgb(253, 124, 7);
}
body > div.section > div.slide-yellow hr.docutils {
  background-color: rgba(255, 243, 220, .75);
}
  

/* pink-white */


body > div.section > div.slide-pink-white {
  background-color: rgb(255, 243, 220);
}
body > div.section > div.slide-pink-white {
  color: rgb(53, 60, 92);
}
body > div.section > div.slide-pink-white a {
  color: rgb(251, 34, 109);
}
body > div.section > div.slide-pink-white a:visited {
  color: rgba(251, 34, 109, .75);
}
body > div.section > div.slide-pink-white a:hover {
  color: black;
}
body > div.section > div.slide-pink-white h1,
body > div.section > div.slide-pink-white h2,
body > div.section > div.slide-pink-white h2.special,
body > div.section > div.slide-pink-white em,
body > div.section > div.slide-pink-white strong,
body > div.section > div.slide-pink-white code.docutils.literal {
  color: rgb(251, 34, 109);
}
body > div.section > div.slide-pink-white hr.docutils {
  background-color: rgba(251, 34, 109, 0.3);
}
  

/* pink */


body > div.section > div.slide-pink {
  background-color: rgb(251, 34, 109);
}
body > div.section > div.slide-pink {
  color: rgb(255, 243, 220);
}
body > div.section > div.slide-pink a {
  color: rgb(210, 203, 180);
}
body > div.section > div.slide-pink a:visited {
  color: rgba(210, 203, 180, .75);
}
body > div.section > div.slide-pink a:hover {
  color: white;
}
body > div.section > div.slide-pink h1,
body > div.section > div.slide-pink h2,
body > div.section > div.slide-pink em,
body > div.section > div.slide-pink strong,
body > div.section > div.slide-pink h2.special {
  color: rgb(255, 243, 220);
}
body > div.section > div.slide-pink code.docutils.literal {
  color: rgb(251, 34, 109);
}
body > div.section > div.slide-pink hr.docutils {
  background-color: rgba(255, 243, 220, .75);
}
  

/* red-white */


body > div.section > div.slide-red-white {
  background-color: rgb(255, 243, 220);
}
body > div.section > div.slide-red-white {
  color: rgb(53, 60, 92);
}
body > div.section > div.slide-red-white a {
  color: rgb(255, 55, 64);
}
body > div.section > div.slide-red-white a:visited {
  color: rgba(255, 55, 64, .75);
}
body > div.section > div.slide-red-white a:hover {
  color: black;
}
body > div.section > div.slide-red-white h1,
body > div.section > div.slide-red-white h2,
body > div.section > div.slide-red-white h2.special,
body > div.section > div.slide-red-white em,
body > div.section > div.slide-red-white strong,
body > div.section > div.slide-red-white code.docutils.literal {
  color: rgb(255, 55, 64);
}
body > div.section > div.slide-red-white hr.docutils {
  background-color: rgba(255, 55, 64, 0.3);
}
body > div.section > div.slide-red {
  background-color: rgb(255, 55, 64);
}
body > div.section > div.slide-red {
  color: rgb(255, 243, 220);
}
body > div.section > div.slide-red a {
  color: rgb(210, 203, 180);
}
body > div.section > div.slide-red a:visited {
  color: rgba(210, 203, 180, .75);
}
body > div.section > div.slide-red a:hover {
  color: white;
}
body > div.section > div.slide-red h1,
body > div.section > div.slide-red h2,
body > div.section > div.slide-red em,
body > div.section > div.slide-red strong,
body > div.section > div.slide-red h2.special {
  color: rgb(255, 243, 220);
}
body > div.section > div.slide-red code.docutils.literal {
  color: rgb(255, 55, 64);
}
body > div.section > div.slide-red hr.docutils {
  background-color: rgba(255, 243, 220, .75);
}
  


.highlight .hll { background-color: #ffffcc }
.highlight  { background: #eeffcc; font-weight: 600; }
.highlight .n { color: #777; }
.highlight .nf { color: #777 } /* Name.Function */
.highlight .c { color: #408090; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #007020; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .ch { color: #408090; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #408090; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #007020 } /* Comment.Preproc */
.highlight .cpf { color: #408090; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #408090; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408090; background-color: #fff0f0 } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #333333 } /* Generic.Output */
.highlight .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #007020 } /* Keyword.Pseudo */
.highlight .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #902000 } /* Keyword.Type */
.highlight .m { color: #208050 } /* Literal.Number */
.highlight .s { color: #4070a0 } /* Literal.String */
.highlight .na { color: #4070a0 } /* Name.Attribute */
.highlight .nb { color: #007020 } /* Name.Builtin */
.highlight .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.highlight .no { color: #60add5 } /* Name.Constant */
.highlight .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #007020 } /* Name.Exception */
.highlight .nl { color: #002070; font-weight: bold } /* Name.Label */
.highlight .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #062873; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #bb60d5 } /* Name.Variable */
.highlight .ow { color: #007020; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #208050 } /* Literal.Number.Bin */
.highlight .mf { color: #208050 } /* Literal.Number.Float */
.highlight .mh { color: #208050 } /* Literal.Number.Hex */
.highlight .mi { color: #208050 } /* Literal.Number.Integer */
.highlight .mo { color: #208050 } /* Literal.Number.Oct */
.highlight .sa { color: #4070a0 } /* Literal.String.Affix */
.highlight .sb { color: #4070a0 } /* Literal.String.Backtick */
.highlight .sc { color: #4070a0 } /* Literal.String.Char */
.highlight .dl { color: #4070a0 } /* Literal.String.Delimiter */
.highlight .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #4070a0 } /* Literal.String.Double */
.highlight .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #4070a0 } /* Literal.String.Heredoc */
.highlight .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.highlight .sx { color: #c65d09 } /* Literal.String.Other */
.highlight .sr { color: #235388 } /* Literal.String.Regex */
.highlight .s1 { color: #4070a0 } /* Literal.String.Single */
.highlight .ss { color: #517918 } /* Literal.String.Symbol */
.highlight .bp { color: #007020 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #06287e } /* Name.Function.Magic */
.highlight .vc { color: #bb60d5 } /* Name.Variable.Class */
.highlight .vg { color: #bb60d5 } /* Name.Variable.Global */
.highlight .vi { color: #bb60d5 } /* Name.Variable.Instance */
.highlight .vm { color: #bb60d5 } /* Name.Variable.Magic */
.highlight .il { color: #208050 } /* Literal.Number.Integer.Long */